.flex_container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
div.tabs {
	background: hsl(0, 0%, 97%);
}
div.layout_block {
	flex-shrink: 1;
	background: #fff;
	border-radius: 2px;
	margin: 1rem;
	padding: 0 1rem;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
div.layout_block.osc,
div.layout_block.pii {
	width: 70rem;
	display: flex;
}
div.osc div.osc_plot,
div.pii div.plot.pii {
	width: 40rem;
	height: 30rem;
	flex-grow: 1;
}
section#tab_logging div.plot {
	width: 30rem;
	height: 20rem;
	padding: 0;
	flex-shrink: 0;
	flex-grow: 1;
}
div.slider {
	width: 400px;
	display: inline-block;
	margin: .5rem 2rem;
}
div.slider .ui-slider-handle {
	width: 5rem;
	text-align: center;
}

table.flags {
	border-spacing: 2rem 1rem;
}
table.flags td,
table.flags th {
	text-align:left;
}
td.indicator, div.indicator {
	text-align: center;
}
span.indicator {
	display: inline-block;
}
label {
	cursor: pointer;
}
input[type=number] {
	width: 5rem;
}
